:root {
    background-color:antiquewhite;

}

html {
    box-sizing: border-box;
}

*, ::before, ::after {
    border: inherit;
}


body{
background-color: var(--background-color);
}

section[class*="card-main"] {
     width: 20rem;
     box-shadow: 10px 10px 5px 0px rgba(63, 62, 62, 0.75);
     margin: 1rem auto 1rem auto;
    
     
}



 header img {
     display: block;
    margin: 2rem auto 1rem auto;
    height: 214px;
    width: 100%;
    object-fit: cover;

}
.card-body{
   
    margin: 1rem 0 1rem 0;
    padding: 0.5rem 1rem 2rem 1rem;
 
    
}
.title {
text-align: center;
border: 2px solid red;
background-color:#740f74;
width: 50%;
margin: 0.5rem auto ;
padding: 0.8rem 1.5rem;
}